:root {
  --border-radius: 0.375em;
}

.round .Box {
  --border-radius: 50%;
}

.square .Box {
  --border-radius: 0.375em;
}

.Link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  display: block;
}

.Box {
  border-radius: var(--border-radius);
  height: var(--dial-height);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  pointer-events: none;
  box-shadow: var(--dial-box-shadow);

  .folder {
    width: 5em; /* 80px */
    height: 5em; /* 80px */
    fill: #fff;
  }

  &:focus-visible:is(a) {
    outline: 5px solid #1976d2;
    outline-offset: 1px;

    .color-scheme-dark & {
      outline-color: #90caf9;
    }
  }
}

.Small {
  font-weight: normal;
  width: 100%;
  max-width: var(--max-small-width);
  text-align: var(--name-align);
  margin: 0 auto;
  display: grid;
  align-items: center;
  height: 1em;

  div {
    font-size: 0.8125em;
    display: block;
  }
}

.Domain {
  white-space: var(--name-white-space);
  padding: var(--name-padding);
  transform: var(--name-transform);
  text-align: center;

  div {
    font-size: 1.5em;
    margin-block: -0.15em;
  }
}

.Title {
  text-align: center;
  padding-top: 0.5em;
  display: grid;
  place-content: center;
  width: var(--dial-width);

  .title {
    border-radius: 0.625em;
    width: max-content;
    max-width: var(--dial-width);
    min-height: var(--title-height);
    height: auto;
    display: grid;
    place-content: center;
    padding: 0.25em 0.8em;
    margin-inline: auto;

    div {
      font-size: calc(var(--title-size, 13) / 16 * 1em);
      line-height: 1.2;
      white-space: normal;
      word-break: break-word;
      text-align: center;
    }

    &.bookmark div {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .color-scheme-light & {
      background-color: rgba(255, 255, 255, var(--title-opacity, 0.75));
      color: #373737;
    }

    .color-scheme-dark & {
      background-color: rgba(55, 55, 55, var(--title-opacity, 0.75));
      color: #eeeeee;
    }

    :focus-visible:is(a) & {
      background-color: #1976d2;
      color: #fff;

      .color-scheme-dark & {
        background-color: #90caf9;
        color: #000;
      }
    }
  }
}
