.BookmarkModal {
  font-size: 16px;
  margin: 20px;

  form {
    .form-grid {
      display: grid;
      grid-template-columns: min-content auto;
      align-items: center;
      column-gap: 10px;
      row-gap: 20px;
    }

    label {
      white-space: nowrap;
    }

    input {
      padding-top: 0;
      padding-bottom: 0;
      height: 32px;
    }

    .folder-select {
      position: relative;

      .input {
        width: 100%;
      }
    }

    .dial-color-input {
      display: flex;
      min-width: 0;

      .colorBtn {
        width: 32px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      #dial-color-input {
        flex: 1;
        min-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.connected {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .resetBtn {
        padding-top: 0;
        padding-bottom: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 14px;
        margin-left: 1px;
      }

      > :focus {
        z-index: 1;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    label.disabled {
      opacity: 0.5;
    }

    .buttons {
      display: flex;
      margin-top: 20px;
      gap: 10px;
      width: 100%;

      .btn {
        flex-grow: 1;
      }
    }
  }

  /* Switch Component Styles */
  --switch-background-color: #c2c2c2;
  --switch-before-background-color: #f5f5f5;
  --switch-focus-outline-color: #42a5f5;
  --switch-checked-background-color: #1565c0;

  .color-scheme-dark & {
    --switch-background-color: #616161;
    --switch-before-background-color: #f5f5f5;
  }

  .switch-root {
    all: unset;
    display: flex;
    place-items: center;
    width: 50px;
    height: 28px;
    background-color: var(--switch-background-color);
    border-radius: 14px;
    outline: none;
    cursor: pointer;

    &:focus-visible {
      outline: 4px solid var(--switch-focus-outline-color);
    }

    &[aria-checked="true"] {
      background-color: var(--switch-checked-background-color);
    }
  }

  .switch-thumb {
    width: 22px;
    height: 22px;
    background-color: var(--switch-before-background-color);
    border-radius: 50%;
    transition: 0.2s;
    transform: translateX(3px);

    [aria-checked="true"] & {
      transform: translateX(25px);
    }
  }
}
